<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/footer.css" />
    <link rel="stylesheet" href="css/degrees.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400&display=swap" rel="stylesheet">
</head>
<style>
    #footer {
        margin-top: 288%;
        background-color: #eeeeee;
    }
</style>

<body>
    <div id="main">
        {{>navbar}}
    </div>
    <div id="online">
        <div id="left">
            <h1>Find the right online </h1>
            <h1>degree program to</h1>
            <h1>elevate your career to</h1>
            <h1>the next level</h1>
        </div>
        <div id="right">
            <h3>I HAVE AN*</h3>
            <select class="careers">
                <option>Less Than High School</option>
                <option>High School Diploma</option>
                <option>Some College But No Degree</option>
                <option>Associate Degree</option>
                <option>Bachelor Degree</option>
                <option>Master's Degree</option>
            </select>
            <h3>I WANT A*</h3>
            <select class="careers">
                <option>Bachelor's Degree</option>
                <option>Master's Degree</option>
            </select>
            <h3>IN*</h3>
            <select class="careers">
                <option>Arts & Humanties</option>
                <option>Business</option>
                <option>Computer Science</option>
                <option>Data Science</option>
                <option>Information Technology</option>
                <option>Software Development</option>
            </select>
            <p>*Required</p>

            <button class="btn" id="programs">See programs</button>
            <button class="btn" id="programs">Email me info</button>
        </div>
    </div>

    <h1 class="center">Learn more about online degrees on Coursera</h1>

    <div class="flex">
        <div class="para">
            <h2>TOP QUALITY LEARNING</h2>
            <h1>We partner with leading universities to deliver the world's best online degree programs.</h1>
            <p>You don't need to quit your job or move to a new city to earn a top university degree. Learn from the
                same
                professors and graduate with a high-value credential from the same university. Choose from a wide
                variety of
                online Master's and Bachelor's degrees in some of today's most in-demand fields.</p>
        </div>
        <div class="pictures">
            <img
                src="https://images.ctfassets.net/wp1lcwdav1p1/xzj8wZqOFaOy8KmUeiy4O/96e63f44d9ad9ec881ba8e7637d514c0/top-quality_3x__2_.png" />
        </div>
    </div>

    <div class="flex">
        <div class="pictures">
            <img
                src="https://images.ctfassets.net/wp1lcwdav1p1/41K1vnQNegmcmeCSSgQUwi/750ff01e5cd024ed948a74efc6d59b51/Same_diploma_2x.png" />
        </div>
        <div class="para">
            <h4>BREAKTHROUGH PRICING</h4>
            <h1>Earn a high-stature degree for much less than similar on-campus programs.</h1>
            <p>We partner with top universities to create affordable learning programs that make degrees more accessible
                for
                everyone. With tuition well below most on-campus degree programs, online degrees on Coursera are
                designed to
                allow students to invest in their education and increase their earning potential post-graduation.
                Financial
                aid is available for qualified students.</p>
        </div>
    </div>

    <div class="flex">
        <div class="para">
            <h4>MODULAR AND STACKABLE</h4>
            <h1>Try your first course risk-free & start working towards your degree today.</h1>
            <p>Courses, Specializations, or MasterTrack Certificates that are part of degrees allow you to start
                learning
                right away, so you can make progress on your own schedule. If you are admitted to the full program, your
                completed courses count towards your degree learning.</p>
        </div>
        <div class="pictures">
            <img
                src="https://images.ctfassets.net/wp1lcwdav1p1/7I4ow3GHAYAwiXiFKGQwnQ/ca333ef3ff01e29c7635ca10d51fdb55/new-stackable-content-graphic.png" />
        </div>
    </div>


    <h1 class="center">Find the right online degree for you</h1>
    <div id="flex">
        <div id="bachelor">
            <h2>Bachelor's Degrees</h2>
            <p>Receiving a bachelor's degree can open a path to a career in many fields. You can find affordable online
                bachelor's degrees from top universities offered on Coursera.</p>
        </div>
        <div id="postgraduate">
            <h2>Postgraduate Studies</h2>
            <p>In addition to degrees, post graduate study programs may offer a chance to complete graduate level
                learning
                without committing to a full degree program.</p>
        </div>
        <div id="masters">
            <h2>Master's Degrees</h2>
            <p>Receiving a master's degree can open a path to a career in many fields. Whether you are looking to
                advance
                your career or change careers and work in a new field, you can find affordable online master's degrees
                from
                top universities offered on Coursera.</p>
        </div>
    </div>
    <h1 class="center">Degrees from leading universities</h1>
    <div id="leading">
        <div>
            <img
                src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/http://coursera-university-assets.s3.amazonaws.com/fb/b28a301e0211e8a40e23e4176c8e4a/UoL-Logo_180x180.png?auto=format%2Ccompress&dpr=1" />
            <h4>Bachelor of Science in Computer Science</h4>
            <p>Goldsmiths was ranked #3 in the UK in effective teaching (Guardian University League Table 2017)</p>
            <h4>Go to degree</h4>

        </div>
        <div>
            <img
                src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/http://coursera-university-assets.s3.amazonaws.com/d8/42cdc0ab2011e8b910bdf80bed9f6c/CenterILblock-ISQUAREOrangeBackgrnd.png?auto=format%2Ccompress&dpr=1" />
            <h4>Master of Business Administration (iMBA)</h4>
            <p>#1 in Biggest Business School Innovations of the Decade (Poets&Quants, 2020)</p>
            <h4>Go to degree</h4>

        </div>
        <div>
            <img
                src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/http://coursera-university-assets.s3.amazonaws.com/fb/b28a301e0211e8a40e23e4176c8e4a/UoL-Logo_180x180.png?auto=format%2Ccompress&dpr=1" />
            <h4>Bachelor of Science in Marketing</h4>
            <p>Royal Holloway, University of London is a UK top 25 university (The Times and Sunday Times Good
                University Guide 2021).</p>
            <h4>Go to degree</h4>

        </div>
    </div>
    <div id="leading">
        <div>
            <img
                src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/http://coursera-university-assets.s3.amazonaws.com/57/29ac7015df11e9b0c5e104097ef971/Penn-Shield.png?auto=format%2Ccompress&dpr=1" />
            <h4>Master of Computer and Information Technology</h4>
            <p>#8 Best National University (U.S. News & World Report, 2018)</p>
            <h4>Go to degree</h4>
        </div>
        <div>
            <img
                src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-university-assets.s3.amazonaws.com/70/de505d47be7d3a063b51b6f856a6e2/New-Block-M-Stacked-Blue-295C_600x600.png?auto=format%2Ccompress&dpr=1" />
            <h4>Master of Applied Data Science</h4>
            <p>#1 Public Research University in the U.S. (QS World Rankings, 2022)</p>
            <h4>Go to degree</h4>
        </div>
        <div>
            <img
                src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-university-assets.s3.amazonaws.com/bb/16e85962a963ab3546196705d25865/CUBoulder_360x360.png?auto=format%2Ccompress&dpr=1" />
            <h4>Master of Science in Data Science</h4>
            <p>#38 University in the World (Academic Ranking of World Universities, 2019)</p>
            <h4>Go to degree</h4>
        </div>
    </div>

    <h1 class="center">Led by the same top-ranked professors who lecture on campus</h1>
    <div id="insta">
    </div>

    <div id="foot">
        {{>footer}}
    </div>

</body>

</html>
<script type="module">

    //import navbar from "./components/navbar.js"
    //console.log(navbar);

    //let main = document.getElementById('main');
    //main.innerHTML = navbar();

    let programs = document.getElementById('programs');
    programs.addEventListener('click', function () {
        window.location.href = "find_careers"
    })

    let logo = document.getElementById('logo');
    logo.addEventListener('click', function () {
        window.location.href = "home_page"
    })
    let count = 0;
    // let url = `https://api.coursera.org/api/instructors.v1?fields=photo`;
    // async function show() {

    //     let res = await fetch(url);
    //     let data = await res.json();
    //     console.log(data)

    window.onload = function(){
        fetch(`https://courseraclone-backend.herokuapp.com/data
`)
        .then(res => {
            res.json().then(res => {
                console.log(res)
                show(res)
            })
        })
    }   

        function show(res){
        res.map(function (item) {

            let insta = document.getElementById('insta');
            let instruct = document.createElement('div');
            instruct.setAttribute('id', 'in');

            let name = document.createElement("h2")
            name.innerText = item.fullName
            let img = document.createElement("img")
            img.src = item.photo;
            img.alt = "Instructor Image"
            img.setAttribute('id', 'instructpic')

            instruct.append(img,name)
            insta.append(instruct)

        });

    };
    
    let btn = document.getElementById('icon').addEventListener('click', function () {
        window.location.href = "find_careers";
    });

   // import footer from "./components/footer.js"
    //console.log(footer);

    //let foot = document.getElementById('foot');
    //foot.innerHTML = footer();

</script>