<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #footer_txt {
            background-color: #EEEEEE;

        }

        #main_div {
            display: grid;
            grid-template-columns: repeat(4, 25%);
            padding: 50px;
            margin-left: 10%;
        }

        #google {
            width: 41%;
            margin-top: 10px;
        }

        #bing {
            width: 30%;
            margin-top: 10px;
            margin-left: 5%;
        }

        #apple {
            margin-top: 10px;
        }

        a {
            text-decoration: none;
            margin: 7px 0px;
            color: black;
        }

        #div2,
        #div3,
        #div5 {
            margin: 20px;

        }

        h6 {
            font-size: 15px;
        }

        hr {
            width: 80%;
            background-color: grey;
            margin: auto;
            height: 1px;
        }

        #div4 {
            /* margin-left: 250%; */
            float: left;
            width: 100%;
            display: flex;
            margin-bottom: 10px;
            background-color: #EEEEEE;
        }

        #div4>p {
            margin-left: 10%;
            margin-top: 4%;
        }

        #links {
            top: 30px;
            margin-top: 4%;
            margin-left: 45%;
            margin-bottom: 5%;
        }

        #links>a>img {
            width: 30px;
        }

        #links>a {
            margin: 10px;
        }
    </style>
</head>

<body>
    <div id="footer">
        <div id="main_div">

            <div id="div2">
                <h6>Coursera</h6>
                <a href="https://about.coursera.org/">About</a><br>
                <a href="https://about.coursera.org/how-coursera-works/">What we offer</a><br>
                <a href="https://about.coursera.org/leadership">Leadership</a><br>
                <a href="https://about.coursera.org/careers/">Careers</a><br>
                <a href="https://www.coursera.org/browse">Catalog</a><br>
                <a href="https://www.coursera.org/professional-certificates">Professional certificate</a><br>
                <a href="https://www.coursera.org/mastertrack">MasterTrack™</a><br>
                <a href="https://www.coursera.org/degrees">Degree</a><br>
                <a
                    href="https://www.coursera.org/business?utm_campaign=website&utm_content=corp-to-home-footer-for-enterprise&utm_medium=coursera&utm_source=enterprise">Enterprises</a><br>
                <a
                    href="https://www.coursera.org/government?utm_campaign=website&utm_content=corp-to-home-footer-for-government&utm_medium=coursera&utm_source=enterprise">For
                    government</a><br>
                <a
                    href="https://www.coursera.org/campus?utm_campaign=website&utm_content=corp-to-home-footer-for-campus&utm_medium=coursera&utm_source=enterprise">For
                    campus</a><br>
                <a
                    href="https://www.coursera.org/business/teams?utm_campaign=b2b-website&utm_content=for-teams-footer-enterprise&utm_medium=coursera&utm_source=enterprise">For
                    Team</a><br>
            </div>
            <div id="div3">
                <h6>Community</h6>
                <a href="https://www.coursera.support/s/community?language=en_US">Learners</a><br>
                <a href="https://www.coursera.org/about/partners">Partners</a><br>
                <a href="https://www.coursera.org/in">Developers</a><br>
                <a href="https://www.coursera.org/in">Beta tester</a><br>
                <a href="https://www.coursera.support/s/feed/0D51U00003BmIp9SAF?language=en_US">Translators</a><br>
                <a href="https://medium.com/coursera-engineering">Tech Blog</a><br>
                <a href="https://www.coursera.org/teaching-center/">Teaching center</a><br>
            </div>

            <div id="div5">
                <h6>More</h6>
                <a href="https://about.coursera.org/press">Press</a><br>
                <a href="https://investor.coursera.com/overview/default.aspx">Investers</a><br>
                <a href="https://investor.coursera.com/overview/default.aspx">Terms</a><br>
                <a href="https://www.coursera.org/about/privacy">Privacy</a><br>
                <a href="https://www.coursera.support/s/learner-help-center?language=en_US">Help</a><br>
                <a href="">Accessibility</a><br>
                <a href="https://www.coursera.org/about/contact">Contact</a><br>
                <a href="https://www.coursera.org/directory">Directory</a><br>
                <a href="https://about.coursera.org/affiliates">Affiliates</a><br>
            </div>

            <div id="div1">

                <a href="https://apps.apple.com/app/apple-store/id736535961"> <img id="apple"
                        src="https://d3njjcbhbojbot.cloudfront.net/web/images/icons/download_on_the_app_store_badge_en.svg"><br><img
                        id="google"
                        src="https://d3njjcbhbojbot.cloudfront.net/web/images/icons/en_generic_rgb_wo_45.png"
                        alt=""></a><br>
                <img id="bing"
                    src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://d3njjcbhbojbot.cloudfront.net/web/images/icons/2018-B-Corp-Logo-Black-S.png?auto=format%2Ccompress&dpr=1&w=151&h=120&q=40"
                    alt="">

            </div>

        </div>
        <hr>
        <div id="div4">
            <p>© 2021 Coursera Inc. All rights reserved.</p>
            <div id="links">
                <a href="https://www.facebook.com/Coursera"><img
                        src="https://cdn-icons.flaticon.com/png/128/2168/premium/2168281.png?token=exp=1639827530~hmac=c37ef1981005713bf515c44edccee163"></a>
                <a href="https://www.linkedin.com/company/coursera/"><img
                        src="https://cdn-icons-png.flaticon.com/128/1384/1384014.png"></a>
                <a href="https://twitter.com/coursera"><img
                        src="https://cdn-icons.flaticon.com/png/128/2168/premium/2168336.png?token=exp=1639827729~hmac=93ac107de8df7c53eb150159ab85a1b4"></a>
                <a href="https://www.youtube.com/user/coursera"><img
                        src="https://cdn-icons-png.flaticon.com/128/1384/1384012.png"></a>
                <a href="https://www.instagram.com/coursera/"><img
                        src="https://cdn-icons-png.flaticon.com/128/1384/1384015.png"></a>
            </div>
        </div>

    </div>
</body>

</html>