#khush {
    width: 90%;
    margin-left: 5%;
    height: 60%;
    margin-top: 7%;
  }
  #main {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    /* text-overflow: ellipsis; */
    cursor: pointer;
    justify-content: space-around;
    gap: 1%;
    margin-top: 5%;
    /* border: 1px solid black; */
  }
  #datadiv {
    height: 530px;
    cursor: pointer;
    border-radius: 20px;
    justify-content: center;
  }
  
  #btn {
    width: 92%;
    border: none;
    border-radius: 8px;
    margin-left: 5%;
    justify-self: center;
    height: 40px;
    margin-top: 5%;
    color: whitesmoke;
    font-family: "Source Sans 3", sans-serif;
    font-size: 24px;
  }
  #divId {
    text-overflow: hidden;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 3px lightgrey;
  }
  
  #info {
    text-align: center;
  }
  