body {
    font-family: "Source Sans 3", sans-serif;
  }
  #footer_txt {
    background-color: #eeeeee;
  }
  #main_div {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding: 50px;
    margin-left: 10%;
    background-color: #eeeeee;
  }
  #google {
    width: 41%;
    margin-top: 10px;
  }
  #bing {
    width: 30%;
    margin-top: 10px;
    margin-left: 5%;
  }
  #apple {
    margin-top: 10px;
  }
  a {
    text-decoration: none;
    margin: 7px 0px;
    color: black;
  }
  #div2,
  #div3,
  #div5 {
    margin: 20px;
  }
  h6 {
    font-size: 15px;
  }
  hr {
    width: 100%;
    background-color: grey;
    margin: auto;
    height: 1px;
  }
  #div4 {
    /* margin-left: 250%; */
    float: left;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    background-color: #eeeeee;
  }
  #div4 > p {
    margin-left: 10%;
    margin-top: 4%;
  }
  #links {
    top: 30px;
    margin-top: 4%;
    margin-left: 45%;
    margin-bottom: 5%;
  }
  #links > a > img {
    width: 30px;
  }
  #links > a {
    margin: 10px;
  }
  